/* .carousel-item{
  filter: brightness(50%);
} */

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.7);
  border-radius: 5px;
}
.textOrange {
  color: rgb(226, 81, 28);
}
.carousel-caption {
  bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 526px) {
  .carousel-caption {
    bottom: 0;
    top: 0px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .carousel-caption h2 {
    font-size: 20px;
    margin-top: -5px;
  }
  .carousel-caption p {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .carousel-caption a {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 526px) and (max-width: 992px) {
  .carousel-caption {
    bottom: 0;
    top: 50px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-caption p {
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .carousel-caption a {
    font-size: 14px;
    padding: 5px 10px;
  }
}
